.color {
    background: #f39fb9;


}
.color2{
	background: #F0E3E3
}
.especial  {
  font-weight: normal;
  font-style: italic;
  background-color: #f7f6f6;
  padding: 2px;
}

.texto {
  background: linear-gradient(yellow,white);
  -webkit-background-clip: text;
  color: transparent;
}
