
.hero {
    background: black url(../images/brillo.png) center / cover;
}

@media (max-width: 1024px) { .hero { background: black url(../images/brillo.png) center / cover; } }
@media (max-width:  768px) { .hero { background: black url(../images/brillo.png) center / cover; } }

/* responsive */
@media (max-width: 768px) {
    :root {
        font-size: 90%;
    }
}

.texto {
  background: -webkit-linear-gradient(black,red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: tomato;
}
h1 {

  background: -webkit-linear-gradient(left top, white, red);
  background: linear-gradient(to bottom right, red, black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.color{
  background-color:  #DC143C;
}
